@model Order
@inject Service.Abstract.IService<Address> _addressService
@{
    ViewData["Title"] = "Sipariş Detay";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice) ₺
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUser.NameSurname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser.Addresses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Addresses.FirstOrDefault().City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
    @if (Model.OrderLines.Any())
    {
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ürün</th>
                        <th>Fiyat</th>
                        <th class="qtycolumn">Miktar</th>
                        <th>Toplam</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in Model.OrderLines)
                    {
                        <tr>
                            <td><img alt="" class="mw-100" height="37" src="~/Img/@item2.Product.Image"></td>
                            <td><a class="dropdown-item" href="/@item2.Product.Name.ToLower().Replace(" ","-").Replace("ç","c").Replace("ı","i")/Products/Detail/@item2.Product.Id">@item2.Product.Name</a></td>
                            <td>@item2.UnitPrice.ToString("c")</td>
                            <td>
                                @item2.Quantity
                            </td>
                            <td>@((item2.Quantity * item2.UnitPrice).ToString("c"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a> |
    <a asp-action="Index">Listeye Dön</a>
</div>
