@model CartViewModel
@{
    ViewData["Title"] = "Sepetim";
}
<!-- shop section start -->
<section id="cart" class="container my-5">
    <h1 class="display-5">Sepetim</h1>
    <!-- row start -->
    @if (Model.CartProducts.Any())
    {
        <div class="row">
            <!-- cart contents start -->
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Ürün</th>
                                <th>Fiyat</th>
                                <th class="qtycolumn">Miktar</th>
                                <th>Toplam</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartProducts)
                            {
                                <tr>
                                    <td><img alt="" class="mw-100" height="37" src="~/Img/@item.Product.Image"></td>
                                    <td><a class="dropdown-item" href="/@item.Product.Name.ToLower().Replace(" ","-").Replace("ç","c").Replace("ı","i")/Products/Detail/@item.Product.Id">@item.Product.Name</a></td>
                                    <td>@item.Product.Price.ToString("c")</td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" class="form-control" value="@item.Quantity" min="1" step="1" style="max-width:77px">
                                        </div>
                                    </td>
                                    <td>@((item.Quantity * item.Product.Price).ToString("c"))</td>
                                    <td>
                                        <form asp-action="Remove" asp-controller="Cart" method="post">
                                            <input type="hidden" name="ProductId" value="@item.Product.Id" />
                                            <button type="submit" class="btn btn-outline-danger rounded-circle">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- cart contents end -->
            <!-- cart total start -->
            <div class="col-md-4 mt-2 border-start">
                <div class="text-left">
                    <h4>Sipariş Özeti</h4>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Ürün Toplamı</th>
                            <td>@Model.TotalPrice.ToString("c")</td>
                        </tr>
                        <tr>
                            <th>Kargo</th>
                            <td>@(Model.TotalPrice > 999 ? "Ücretsiz" : Model.CartProducts.Any() ? "₺69" : "₺0") </td>
                        </tr>
                        <tr>
                            <th>Sipariş Toplamı</th>
                            <td class="ordertotal">
                                @(Model.TotalPrice > 999 ? Model.TotalPrice.ToString("c") : (Model.CartProducts.Any() ? Model.TotalPrice + 69 : Model.TotalPrice).ToString("c"))
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-danger">
                        <i class="bi bi-cart me-1"></i>Alışverişe Devam Et
                    </a>
                    <a href="/Cart/Checkout" class="btn btn-success">
                        <i class="bi bi-credit-card me-1"></i> Satın Al
                    </a>
                </div>
            </div>
            <!-- cart total end -->
        </div>
    }
    else
    {
        <div class="alert alert-secondary">
            <h5 class="text-danger">
                Sepetinizde Ürün Yok!
            </h5>
            <a asp-controller="Home" asp-action="Index" class="btn btn-danger">
                <i class="bi bi-cart me-1"></i>Alışverişe Devam Edelim
            </a>
        </div>
    }
    <!-- row end -->
</section>
