@model Cart
@{
    ViewData["Title"] = "Sepet";
}
<!-- shop section start -->
<section id="cart" class="container my-5">
    <!-- row start -->
    <div class="row">
        <!-- cart contents start -->
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ürün</th>
                            <th>Fiyat</th>
                            <th class="qtycolumn">Miktar</th>
                            <th>Toplam</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Products.Any())
                        {
                            @foreach (var item in Model.Products)
                            {
                                <tr>
                                    <td><img alt="" class="mw-100" height="37" src="~/Img/@item.Product.Image"></td>
                                    <td><a href="#">@item.Product.Name</a></td>
                                    <td>@item.Product.Price.ToString("c")</td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" class="form-control" value="@item.Quantity" min="1" step="1" style="max-width:77px">
                                        </div>
                                    </td>
                                    <td>@((item.Quantity * item.Product.Price).ToString("c"))</td>
                                    <td>
                                        <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                                            <input type="hidden" name="ProductId" value="@item.Product.Id" />
                                            <button type="submit" class="btn btn-danger">
                                                Sil
                                                <i class="fa fa-times fa-fw"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">
                                    <h5 class="text-danger">
                                        Sepetinizde Ürün Yok!
                                    </h5>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- cart contents end -->
        <!-- cart total start -->
        <div class="col-md-4 mt-2">
            <div class="text-left">
                <h4>Sepet <b>Toplamı</b></h4>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Sepet Aratoplamı</th>
                        <td>@Model.TotalPrice().ToString("c")</td>
                    </tr>
                    <tr>
                        <th>Kargo</th>
                        <td>@(Model.TotalPrice() > 999 ? "Ücretsiz" : Model.Products.Any() ? "₺69" : "₺0") </td>
                    </tr>
                    <tr>
                        <th>Sipariş Toplamı</th>
                        <td class="ordertotal">
                            @(Model.TotalPrice() > 999 ? Model.TotalPrice().ToString("c") : (Model.Products.Any() ? Model.TotalPrice() + 69 : Model.TotalPrice()).ToString("c"))
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-left fa-fw"></i>Alışverişe Devam Et
                </a>
                <a href="/Cart?Checkout" class="btn btn-primary">
                    Ödemeye Geç <i class="fa fa-arrow-circle-right fa-fw"></i>
                </a>
            </div>
        </div>
        <!-- cart total end -->
    </div>
    <!-- row end -->
</section>