@model ProductDetailViewModel
@{
    ViewData["Title"] = Model.Product.Brand.Name + " " + Model.Product.Name;
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/Img/@Model.Product.Image" alt="..."></div>
            <div class="col-md-6">
                <div class="small mb-1">@Model.Product.Category.Name</div>
                <div class="small mb-1">SKU: @Model.Product.ProductCode</div>
                <h1 class="display-5 fw-bolder">@ViewData["Title"]</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">₺@Model.Product.Price</span>
                    <span>₺@Model.Product.Price</span>
                </div>
                <p class="lead">@Html.Raw(Model.Product.Description)</p>
                <form asp-action="AddToCart" asp-controller="Cart" method="post" class="d-flex">
                    <input type="hidden" name="ProductId" value="@Model.Product.Id" />
                    <input class="form-control text-center me-3" id="inputQuantity" name="quantity" type="number" value="1" style="max-width: 3rem">
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Sepete Ekle
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">İlişkili Ürünler</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <partial name="_ProductPartial" model="Model.RelatedProducts" />
        </div>
    </div>
</section>