@using NetCoreUrunSitesi.ExtensionMethods
@inject IHttpContextAccessor context
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetCoreUrunSitesi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetCoreUrunSitesi.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="p-3 text-bg-dark">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="/Img/nike.png" alt="logo" height="50" />
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-black">Anasayfa</a></li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">Tüm Ürünlerimiz</a>
                    </li>
                    @await Component.InvokeAsync("Categories")
                    <li><a asp-controller="Home" asp-action="Contact" class="nav-link px-2 text-black">İletişim</a></li>
                </ul>

                <form asp-controller="Products" asp-action="Search" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input name="q" type="search" class="form-control form-control-dark text-bg-dark" placeholder="Ürün Ara..." aria-label="Search">
                </form>

                <div class="text-end dropdown">
                    @if (context.HttpContext.User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Index" class="btn btn-danger">Hesabım</a>
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Oturumu Kapat</a>
                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle text-black" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-person me-1"></i>
                            Giriş Yap
                        </a>
                        <ul class="dropdown-menu p-3" aria-labelledby="dropdownMenuLink">
                            <li class="text-center mt-3">
                                <a asp-controller="Account" asp-action="Login" class="btn btn-warning me-2 w-100">Giriş Yap</a>
                            </li>
                            <li class="text-center mt-3">
                                <a asp-controller="Account" asp-action="SignUp" class="btn btn-outline-dark w-100">Üye Ol</a>
                            </li>
                        </ul>
                    }
                </div>
                <div class="dropdown">
                    <a class="nav-link text-black" href="/Favorites">
                        @{
                            var favorite = Context.Session.GetJson<Service.Concrete.CartService>("Favorites");
                            if (favorite is not null && favorite.Products.Count > 0)
                            {
                                <i class="bi-heart-fill me-1"></i>
                            }
                            else
                            {
                                <i class="bi-heart me-1"></i>
                            }
                        }
                        Favorilerim
                    </a>
                </div>
                <div class="dropdown ms-3">
                    @{
                        var cart = Context.Session.GetJson<Service.Concrete.CartService>("Cart");
                        if (cart != null && cart.Products.Count > 0)
                        {
                            <a class="nav-link dropdown-toggle" href="/Cart" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-cart-fill me-1"></i>
                                Sepetim
                                <span class="badge bg-warning text-white ms-1 rounded-pill">
                                    @cart.Products.Count
                                </span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                @foreach (var item in cart.Products)
                                {
                                    <li>
                                        <a class="dropdown-item" href="/@item.Product.Name.ToLower().Replace(' ','-')/Products/Detail/@item.Product.Id">
                                            <img src="/Img/@item.Product.Image" alt="" width="34" />
                                            @item.Product.Name
                                        </a>
                                        <hr />
                                    </li>
                                }
                                <li class="text-center mt-3">
                                    <a href="/Cart" class="btn btn-outline-warning">Sepete Git</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <a class="nav-link" href="/Cart">
                                <i class="bi-cart me-1"></i>
                                Sepetim
                            </a>
                        }
                    }
                </div>
            </div>
        </header>
    </div>

    <div class="container">
        @Html.Raw(TempData["Message"])
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top  text-muted">
        <div class="container">
            &copy; 2022 - NetCoreUrunSitesi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
